<ul class="mdl-grid sessions">
  {{#each sessions as |session|}}
    <li class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--2dp sessions__session">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text sessions__session__title">{{session.user.name}}</h2>
      </div>
      <div class="mdl-card__media">
        <img src="http://placepu.gs/500/20{{session.treat.id}}" />
      </div>
      <div class="mdl-card__supporting-text">
        <div class="sessions__session__treat__name">
          {{session.treat.name}}
        </div>
        <ul class="mdl-list">
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">local_hospital</i>
              <span class="sessions__session__treat__health">
                Health: {{session.treat.health}}
              </span>
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">straighten</i>
              <span class="sessions__session__treat__size">
                Size: {{session.treat.size}}
              </span>
            </span>
          </li>
        </ul>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a
          class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect sessions__session__delete"
          href="/sessions">
          Delete session
        </a>
      </div>
    </li>
  {{/each}}
</ul>
