<%= form_for(@treat) do |f| %>
  <% if @treat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@treat.errors.count, "error") %> prohibited this treat from being saved:</h2>

      <ul>
      <% @treat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :health %><br>
    <%= f.number_field :health %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
